.comment-wrapper {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: unset;
  -webkit-box-orient: vertical;
  overflow: visible;
  word-break: break-word;
  white-space: pre-line;
  line-height: 1.4em;
  max-height: none;
}

/* Style chá»¯ "more" */
.more-inline {
  position: relative;
  padding-left: 2px;
  background: white;
  color: rgb(130, 130, 141);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.4em;
}

.more-inline:hover {
  text-decoration: underline;
}

.menu-comment {
  position: relative;
  z-index: 20;
}
