.layout-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.side-navbar {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.search-dropdown::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 32px;
  width: 12px;
  height: 12px;
  background: white;
  border-left: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  transform: rotate(45deg);
}
